#edit_password label{
    width:11vw;
    margin-right:1vw
}
#edit_password input[type="text"]{
    width:11vw;
}
.form-group{
    margin-left:1vw
}
#change_btn{
    margin-top:5vh;
    margin-left:18vw;
}

