#title{
    position:absolute;
    left:2vw;
}
#create_crew_btn{
    position: absolute;
    right: 8vw;
    top: 82vh;
}
#edit_crew_btn{
    position: absolute;
    left: 8vw;
    top: 82vh;
}
.crew_members{
    width: 40vw;
}
select[name ="pilots"]{
    height:38vh;
    width:19vw;
    border-radius:5px;
}
select[name ="stewards"]{
    height:38vh;
    width:19vw;
    border-radius:5px;
}
option{
    height:6vh;
}
#crews{
    margin-top:6vh;
    height:63vh;
    overflow: scroll;
    overflow-x: hidden;
    flex: 1 0;
}
::-webkit-scrollbar {
    width: 0px;
}
#steward_list, #pilots_list{
    height:63vh;
    overflow: scroll;
    overflow-x: hidden;
    flex: 1 0;
}
.add_crew_btn{
    margin-left: 3vw;
    margin-top:2px;
}
#crews_error{
    position:absolute;
    top:20vh;
    left:50vw;
}