body{
    background-image: url('../img/sign_in_sky.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
}

.btn-md {
    color: black;
    background: white;
    border: solid 1px black;
}

.lang{
    margin-left: 90vw;
}

.form{
    height: 35vh;
    width: 25vw;
    margin-top: 15vh;
    margin-left: 36vw;
    border: 1px solid;
    border-radius: 10px;
    background: ghostwhite;
    position: relative;

}

.form-group{
    padding-left: 4vw;
}

.log{
    padding-top: 3vh;
}

.in{
    display: inline-block;
    padding-left: 2vw;
}

.create{
    padding-top: 1vh;
}

.last{
    padding-left: 4vw;
    padding-top: 2vh;
}

.label{
    padding-left: 10vw;
    padding-top: 2vh;
}

.btn-primary{
    width: 5vw;
}

.button{
    margin-left: -0.2vw;
}

#sign_in input.error, #sign_in select.error {
    background: #a6c5ff;
    border: 1px solid #0f1970;
}