body{
    background: url('../img/plane_user.jpg') left bottom no-repeat;
    margin-right: 200px;
    background-size: 550px 350px;
}
#personal_info{
    font-size:15pt;
    padding-left:41vw;
    margin-top:5vh;
    letter-spacing:1px;
}
#edit_user_btn{
    position:absolute;
    left:63vw;
    top:16vh;
}
#edit_user_btn button{
    background-color:transparent;
    color:#1d2124;
    border: solid 1px transparent;
    border-radius:0px;
}
#edit_user_btn > button:hover{
    border: solid 1px #a1bbbd;
    outline: none;
}